################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SamuraiEFCore/SamuraiEFCore.App/bin/Debug/netcoreapp2.0
